table {
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:90%;
    margin:auto;
    background-color: #6495ed;
    }
    thead, tfoot {
    background-color:#D0E3FA;
    border:1px solid #6495ed;
    }
    tbody {
    background-color:#FFFFFF;
    border:1px solid #6495ed;
    }
    th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:5px;
    background-color:#EFF6FF;
    width:25%;
    }
    td {
    font-family:sans-serif;
    font-size:medium;
    border:1px solid #6495ed;
    padding:5px;
    text-align:left;
    
    }
    p{
   font-size: medium;


    }
    caption {
    font-family:sans-serif;
    }